.confirmation-box {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    margin: 10% auto;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .confirmation-box p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .confirmation-box button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmation-box button.delete {
    background-color: #ff6347; /* Tomato Red */
    color: #fff;
  }
  
  .confirmation-box button.cancel {
    background-color: #007bff; /* Dodger Blue */
    color: #fff;
  }
  