.container-graph {
  max-width: 30%; /* Adjust as needed */
  margin: 0 auto; /* Adjust as needed */
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .container-graph {
    max-width: 100%; /* Adjust as needed */
    margin: 0  auto; /* Adjust as needed */
  }
}
