.header {
  background-color: #0377c5;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%; /* Center align text in header */
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0; /* Remove default margin */
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff5722;
}

@media (max-width: 767px) {
  .nav-list {
    flex-direction: column; /* Stack items vertically on smaller screens */
    text-align: center; /* Center align text on smaller screens */
  }
  
  .nav-item {
    margin: 5px 0; /* Adjust margin for smaller screens */
  }
}