.burger-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.burger-menu.open {
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  flex-direction: column;
  padding: 0;
}

.close-icon {
  font-size: 24px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menu span {
  margin: 10px 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  /* Apply the following styles for medium and large devices */
  .burger-menu {
    justify-content: flex-end;
  }

  .burger-menu.open {
    justify-content: flex-start;
    flex-direction: row; /* Horizontal layout for links */
    align-items: flex-start; /* Align links to the top */
  }

  .menu {
    flex-direction: row; /* Horizontal layout for links */
    width: auto; /* Allow menu to expand based on content */
  }

  .menu span {
    margin: 0 10px; /* Add some space between links */
  }

  .close-icon {
    display: none; /* Hide the close icon on larger screens */
  }
}
