.container-register{
    max-width:400px ;
    height: 250px;
    display: flex;
    justify-content: space-around;
    margin: 10% auto;
    box-shadow: 5px 10px 15px gray;
}
.container-register input[type='text'],
 input[type='password']{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
  }
  .btn-login:hover{
    background-color: #0a5bb2;
   
  }