/* table.css */

.table-container {
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
}

.table-wrapper {
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  max-width: max-content; /* Adjust as needed */
  background-color: #f9f9f9;
  height: max-content;
  
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #4CAF50;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .table-container {
    margin-top: 5%; 
    /* Adjust the margin for smaller screens */
  }

  .table-wrapper {
   margin: 10px;
   max-width: 100%; /* Allow the table to take full width on smaller screens */
  }
  .data-table th,
.data-table td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: smaller;
}


}

